<<<<<<< Updated upstream
.layout{
  min-height: 100vh;
}


.editor{
=======
.layout {
  min-height: 100vh;
}

.editor {
>>>>>>> Stashed changes
  width: 50%;
  padding: 20px;
  margin: 20px;
  height: 40vh;
  border: 1px solid #ccc;
<<<<<<< Updated upstream
}
=======
}
>>>>>>> Stashed changes
